body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(172,217,178,1) 0%, rgba(0,212,255,1) 100%); 
}

.main-content{
    display: grid;
    place-content: center;
    height: 100vh;
    place-items: center;
    row-gap: 30px;
}

.button{
    width: 180px;
    border-radius: 10px;
    border: solid var(--hospital-green);
    background-color: var(--hospital-green);
    font-size: medium;
    letter-spacing: 1.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 200px;
}

p{
    color: var(--gray);
}