:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --gray: #757779;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --input:rgb(223, 223, 223);
}

body{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}